<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <config>
        <host>192.168.200.54</host>
        <port>33060</port>
        <position>Должность</position>
        <chiefDS>ФИО</chiefDS>
        <NDS>20</NDS>
        <UNP>190471274</UNP>
        <orgName>Организация</orgName>
        <serviceName>Контрольно-диагностические работы</serviceName>
        <vatServiceUrl>https://185.32.226.170:4443/InvoicesWS/services/InvoicesPort?wsdl</vatServiceUrl>
        <vatPath>d:\temp\vats190471274</vatPath>
    </config>
</configuration>
